<strong> Olá, {{owner}}</strong>
<p>O seu Meetup "{{meetup}}" possui um novo inscrito, veja os detalhes do mesmo:</p>
<p>
  <strong>Nome:</strong> {{user}} <br />
  <strong>E-mail:</strong> {{email}}
</p>
